.navbar-main {
  display: flex;
  justify-content: space-around;
  background-color: #bf784e;
  align-items: center;
}
.navbar-main ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-main li {
  padding: 10px 20px;
  margin: 0;
  background-color: aquamarine;
  transition: background-color 0.2s ease-in-out;
}

.navbar-main li:hover {
  background-color: #d93b65;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

.categorias {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  object-fit: cover;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
/*Estilo para pantalla pequeña*/

@media screen and (max-width: 768px) {
  .categorias {
    display: none;
  }
  .logo {
    display: none;
  }
  .navbar-main li {
    padding: 5px 10px;

    background-color: aquamarine;
    transition: background-color 0.2s ease-in-out;
    font-size: 10px;
  }
  .navbar-main {
    display: flex;
    justify-content: center;
  }
}
