.navbar-main {
  display: flex;
  justify-content: space-around;
}
ul {
  list-style: none;
  text-align: center;
}

li {
  padding-right: 8px;
  margin-right: 8px;
  border-right: solid rgb(81, 73, 190);
  border-top: solid rgb(81, 73, 190);
}

.categorias {
  display: flex;
  justify-content: space-around;
}
